flevents-backend/src/main/resources/application-local.properties
/flevents-backend/src/main/resources/application-local.properties
/.idea/shelf/
/.idea/workspace.xml
/.idea/jpa-buddy.xml
/.idea/encodings.xml
/.idea/dataSources/
